:root {
  --vt-c-black: black;
  --vt-c-white: white;
  --vt-c-green-dark: #132a13;
  --vt-c-grey: #8d99ae;
  --vt-c-dark-red: #9d0208;
  --vt-c-yellow: #fca311;
  --vt-c-orange: #bb3e03;
  --color-background: var(--vt-c-black);
  --color-text-dark: var(--vt-c-white);
  --color-text-light: var(--vt-c-black);
  --main-padding: 1rem;
  --card-padding: 12px;
  --header-height: 1rem;
  --footer-height: 10vh;
  --color-placeholder: var(--vt-c-grey);
  --max-content-width: 630px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
